.mat-success {
    background-color: green;
    color: #fff;
}
.mat-success2 {
    background-color: rgba(238, 29, 29, 0.829);
    color: #fff;
}
.mat-success3 {
    background-color: orange;
    color: #fff;
}