<table>
  <tr>
    <td><h4><b><i>View my wishList</i></b></h4> </td> &nbsp;&nbsp;&nbsp;
    <td><button type="submit" class="btn mat-success2" (click)="wishlist()">
        <span class="glyphicon glyphicon-heart"></span> MyWishlist
      </button></td>
  </tr>
  <tr>
      <td><h4><b><i>View my Cart</i></b></h4> </td> &nbsp;&nbsp;&nbsp;
      <td><button type="submit" class="btn mat-success3" (click)="cart()">
          <span class="glyphicon glyphicon-shopping-cart"></span> My Cart
        </button></td>
    </tr>
    <tr>
        <td><h4><b><i>View my Profile</i></b></h4> </td> &nbsp;&nbsp;&nbsp;
        <td><button type="submit" class="btn mat-success" (click)="profile()">
            <span class="glyphicon glyphicon-user"></span> MyProfile
          </button></td>
      </tr>
      <tr>
          <td><h4><b><i>View my Order</i></b></h4> </td> &nbsp;&nbsp;&nbsp;
          <td><button type="submit" class="btn mat-success4" (click)="order()">
              <span class="glyphicon glyphicon-floppy-open"></span> MyOrder
            </button></td>
        </tr>
  
</table>