.mat-success {
    background-color: green;
    color: #fff;
}
.mat-success2 {
    background-color: rgba(243, 82, 82, 0.829);
    color: #fff;
}
.mat-success3 {
    background-color: orange;
    color: #fff;
}
.mat-success4 {
    background-color: rgba(80, 53, 53, 0.829);
    color: #fff;
}